


<div class="bg-white-100">
  <div class="p-8">
    <img class="h-10 justify-center" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" alt="Sample Logo" >
    <img class="rounded-lg shadow-lg" src="https://images.unsplash.com/photo-1655965605152-9578fc8d15fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80" alt="Sample Logo" >
  </div>

  <div class="bg-slate-700" >
    <h2>Book Your Travel</h2>
  </div>
</div>
